@use 'variables'
@use 'mixins'

*
    color: #FFFFFF

body
    background:  #0C0C0C

.header
    display: flex
    justify-content: space-between
    align-items: center

.logo
    color: #00A3FF

nav 
    ul
        display: flex

        li
            list-style: none
            margin: 0 25px


h3
    font-family: variables.$rubik-font-family 

li 
    font-family: variables.$inter-font-family
        